/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


/* body */
/* colgroup,
.packages,
 b,
 th, td, tr {*/
    /* color: #62646a; */
    /* font-family: "Roboto";
    font-weight: 400;
    line-height: 24px; 
    padding: 100px; */
    /* background: linear-gradient(to bottom right, #fff,#444); */
    /* height: 100vh; */
/* } */

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

body {
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 400;
    font-stretch: normal;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 24px;
    font-size-adjust: none;
    font-kerning: auto;
    font-optical-sizing: auto;
    color: #62646a;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}

.packages {
    background-color: #fff;
}

.section-title {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 25px;
    font-weight: 700;
    color: #404145;
}

.packages table {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #efeff0;
}

.packages table col {
    border-right: 1px solid #efeff0;
}

.packages tr th {
    color: #7a7d85;
    font-weight: 400;
    text-align: left;
    padding: 12px 16px;
    vertical-align: text-top;
}

.packages tr .package_type td {
    padding-top: 24px;
    position: relative;
}

.packages tr .description td,
.packages tr .package_type td {
    vertical-align: text-top;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

.packages .package_type .type {
    padding-bottom: 8px;
    /* text-transform: uppercase; */
}

.packages .package_type .price {
    padding-bottom: 16px;
    line-height: 150%;
}

.packages .package_type b {
    display: block;
}

.packages .description {
    word-break: break-word;
}

.packages .description td {
    padding-bottom: 24px;
}

.offer_div {
    position: relative;
    display: inline-block;
}

.packages .offer_div {
    min-width: 150px;
}

.offer_div .offer_span {
    box-sizing: border-box;
    display: inline-block;
}

.packages tr td {
    width: 25%;
    vertical-align: middle;
    text-align: center;
}

.packages .pricing_factor_excluded {
    content: "\f00c";
    color: #dadbdd;
}

.packages .pricing_factor {
    content: "\f00c";
    color: #1dbf73;
}

td {
    font-weight: 400;
    vertical-align: top;
}

.packages tr .select_package {
    border-top: 1px solid #efeff0;
}

.packages .select_package p {
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 24px;
}

.packages .select_package .fit_button {
    width: 100%;
    box-sizing: border-box;
}