@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #444;
    font-family: Roboto;
    padding: 100px;
    background: rgb(190, 188, 188);
}

.packages,
.offer1,
.offer2 {
    display: flex;
    max-width: 800px;
    /*box-shadow: 0 30px 80px 10px rgba(0,0,0,0.2) */;
}

.package_desc,
.offer2 {
    background: white;
    flex: 0 1 30%;
    width: 30%;
}

.offer1 {
    background: rgb(230, 230, 230);
    width: 25%;
}

/* Total */
.select {
    background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
    margin: 5px 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}